body {
    background: #fff;
}
* {
    color: #000;
}
h1, h2, h3, h4, h5, h6 {
    color: #000 !important;
}

li {
    list-style-position: inside;
    margin-bottom: 0.8ex;
}

span, pre, h2, h3, p, ul {
    background-color: #fff;
    opacity: 0.75;
    font-size: 80%;
}

ul {
    width: 50%;
    padding-left: 1em;
}

.reveal section img {
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

section {
    background-repeat: no-repeat;
    background-position: left 0;
    margin-top: 5%;
    width: 100%;
}

.reveal a {
    color: #767676 !important;
}

.slide-1 {
    background-image: url('../images/westalkalltheway.png');
    background-position: left center;
}

.slide-2 {
    background-image: url('../images/westalkwho.png');
    background-position: -3em 0;
}

.slide-4 {
    background-image: url('../images/japanmap.png');
}

.slide-8 {
    background-image: url('../images/islands1.png');
}

.slide-9 {
    background-image: url('../images/islands2.png');
}

.slide-10 {
    background-image: url('../images/islands3.png');
}

.slide-11 {
    background-image: url('../images/islands4.png');
}

.slide-12 {
    background-image: url('../images/westalkbuildsteps.png');
    background-position: -3em 0;
}

.slide-16 {
    background-image: url('../images/westalkpuppet.png');
    background-position: -3em 0;
}

.slide-19 {
    background-image: url('../images/westalkbuildfail.png');
    background-position: -3em 0;
}

.slide-20 {
    background-image: url('../images/lego-vikings.jpg');
}

.slide-21 {
    background-image: url('../images/happydance.gif');
    background-position: left center;
}

.slide-23 {
    background-image: url('../images/westalklessonslearned.png');
}

.slide-24 {
    background-image: url('../images/islands5.png');
}

.slide-25 {
    background-image: url('../images/islands6.png');
}

.slide-26 {
    background-image: url('../images/islands7.png');
}

.slide-27 {
    background-image: url('../images/notebooks.jpg');
}

.exit1 {
    background-image: url('../images/westalkexitmob.png');
    background-position: -3em 0;
}

.exit2 {
    background-image: url('../images/westalkexitmoped.png');
    background-position: 1000px 0;
}

.animate-exit2 {
    -webkit-animation-duration: 8s;
    -webkit-animation-name: slidein;
    -moz-animation-duration: 8s;
    -moz-animation-name: slidein;
}

@-webkit-keyframes slidein {
  from {
    background-position: -6em 0;
  }
 
  to {
    background-position: 1000px 0;
  }
}

@-moz-keyframes slidein {
  from {
    background-position: -6em 0;
  }
 
  to {
    background-position: 1000px 0;
  }
}
